<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" routerLink="/">Medium Clone</a>
  <div class="ms-auto">
    <ng-container *ngIf="auth.isLoggedIn(); else loggedOut">
      <span class="me-3">Hola, {{ auth.getUser() }}</span>
      <a routerLink="/write" class="btn btn-success me-2">Escribir</a>
      <button (click)="logout()" routerLink="/login" class="btn btn-outline-danger">Salir</button>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/login" class="btn btn-outline-primary">Iniciar sesión</a>
    </ng-template>
  </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<router-outlet/> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand fw-bold" routerLink="/">Medium Clone</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ng-container *ngIf="auth.isLoggedIn(); else loggedOut">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item me-3">
          <span class="navbar-text">
            👋 Hola, {{ auth.getUser() }}
          </span>
        </li>
        <li class="nav-item me-2">
          <a routerLink="/write" class="btn btn-success">✍️ Escribir</a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-outline-danger">Salir</button>
        </li>
      </ul>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/login" class="btn btn-outline-primary">Iniciar sesión</a>
    </ng-template>
  </div>
</nav>

<router-outlet></router-outlet>
